@media (min-width: 768px) and (max-width: 2060px){
	header h2#negrito {
		font-size: 2.6em;
	}

	header h3{
		width: 60%;
		margin: 0px auto;
	}

	main {
		display: flex;
		align-items: center;
	}

	section#meio{
		display: flex;
		flex-direction: column;
		margin-bottom: 20px;
	}

	section#esquerda {
		margin-right: 30px;
	}

	section#direita {
		margin-left: 30px;
	}

}