body {
	text-align: center;
	font-family: 'Poppins', sans-serif;
	font-size: 15px;
	background: hsl(0, 0%, 98%);
	letter-spacing: 1px;

}

div.container {
	margin-top: 40px;
}

/* Mexendo no container */

header {
	text-align: justify-all;
}

header h1{
	opacity: 0.8;
}

h2#negrito {
	font-weight: bold;
	font-size: 1.9em;
	opacity: 0.8;
}

header h3 {
	font-size: 1.2em;
	padding: 30px;
	opacity: 0.6;
}

/* Mexendo no main */

main {
	text-align: left;
}

section#esquerda, section#direita {
	display: flex;
	flex-direction: column;
	width: 350px;
	margin-top: 20px;
	background: white;
	border-radius: 7px;
	box-shadow: 1px 10px 20px hsl(229, 6%, 66%);
}

section#meio {
	width: 350px;
	margin-top: 20px;
	border-radius: 7px;
}

/* Configurando section */
section img, article img{
	width: 50px;
	align-self: flex-end;
}

section h4{
	font-weight: bold;
	opacity: 0.8;
}

section p{
	opacity: 0.4;
}

section#esquerda {
	border-top: 4px solid hsl(180, 62%, 55%);
	padding: 30px;
}

article#team {
	border-top: 4px solid hsl(0, 78%, 62%);
	padding: 30px;
	background: white;
	border-radius: 7px;
	box-shadow: 1px 10px 20px hsl(229, 6%, 66%);
	display: flex;
	flex-direction: column;
}

article#karma {
	border-radius: 7px;
	border-top: 4px solid hsl(34, 97%, 64%);
	padding: 30px;
	background: white;
	margin-top: 20px;
	box-shadow: 1px 10px 20px hsl(229, 6%, 66%);
	display: flex;
	flex-direction: column;
}

section#direita {
	padding: 30px;
	border-top: 4px solid hsl(212, 86%, 64%);
}